<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Administração - Desbloquear Usuário</title>
</head>

<body>
    <h1>Painel de Administração</h1>

    <form action="{{ url_for('unblock_user') }}" method="POST">
        {{ form.hidden_tag() }} <!-- Proteção CSRF -->
        <label for="user_id">Digite o ID do usuário:</label>
        <input type="text" id="user_id" name="user_id" required>
        <button type="submit">Desbloquear Usuário</button>
    </form>

    <form action="{{ url_for('unblock_ip') }}" method="POST">
        {{ form.hidden_tag() }} <!-- Proteção CSRF -->
        <label for="user_ip">Digite o IP do usuário:</label>
        <input type="text" id="user_ip" name="user_ip" required>
        <button type="submit">Desbloquear IP</button>
    </form>
</body>

</html>
