<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com; object-src 'none';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Chamados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>

<body>
    <header>
        <!-- Botão de logout no canto superior direito -->
        <div class="logout-container">
            <form action="{{ url_for('logout') }}" method="POST">
                {{ csrf_token() }} <!-- Proteção CSRF -->
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>

        <!-- Filtro e contagem de resultados -->
        <div id="filter-container">
            <label for="id-filter">Filtrar por ID:</label>
            <input type="text" id="id-filter" placeholder="Digite o ID">

            <div id="status-filter">
                <span>Filtrar por Status:</span>
                <label><input type="checkbox" value="Aberta" class="status-checkbox"> Aberta</label>
                <label><input type="checkbox" value="Em Atendimento" class="status-checkbox"> Em Atendimento</label>
                <label><input type="checkbox" value="Em Pausa" class="status-checkbox"> Em Pausa</label>
                <label><input type="checkbox" value="Cancelado" class="status-checkbox"> Cancelado</label>
                <label><input type="checkbox" value="Finalizada" class="status-checkbox"> Finalizada</label>
            </div>
        </div>

        <!-- Contador de resultados -->
        <div id="counter-container">
            <span id="result-counter">{{ dados|length }}</span> resultados encontrados
        </div>
    </header>

    <main>
        <a href="{{ url_for('home') }}" class="back-to-index">
            <i class="fas fa-home"></i>
        </a>
      
        <div class="table-container">
            <table id="chamados-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Data Abertura</th>

                        {% if user_type == 1 %}
                        <th>Código Filial</th>
                        <th>Setor</th>
                        <th>Solicitante</th>
                        <th>Nome</th>
                        <th>Assunto</th>
                        <th>Descrição</th>
                        <th>Anexo</th>
                        <th>Anydesk</th>
                        <th>Chamado</th>
                        {% elif user_type == 2 %}
                        <th>Nome</th>
                        <th>Assunto</th>
                        <th>Descrição</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for chamado in dados %}
                    <tr>
                        <td>{{ chamado.id }}</td>
                        <td>{{ chamado.status }}</td>
                        <td>{{ chamado.data_abertura }}</td>

                        {% if user_type == 1 %}
                        <td>{{ chamado.codigo_filial }}</td>
                        <td>{{ chamado.departamento }}</td>
                        <td>{{ chamado.solicitante }}</td>
                        <td>{{ chamado.usuario_abertura }}</td>
                        <td>{{ chamado.tipo }}</td>
                        <td>{{ chamado.desc_problema }}</td>
                        <td>{{ chamado.anexo }}</td>
                        <td>{{ chamado.anydesk }}</td>
                        <td>{{ chamado.chamado_ocomon }}</td>

                        {% elif user_type == 2 %}
                        <td>{{ chamado.usuario_abertura }}</td>
                        <td>{{ chamado.tipo }}</td>
                        <td>{{ chamado.desc_problema }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <a href="#" class="back-to-top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">
        ⬆️
    </a>

    <a href="https://wa.me/+554197070185" class="whatsapp-button" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
