<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <div class="logout-container">
        <form action="{{ url_for('logout') }}" method="POST">
            {{ csrf_token() }} <!-- Proteção CSRF -->
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='anjuss.png') }}" alt="Logo Anjuss" class="logo">
        <h1>Consultas de Chamados - Gerencial</h1>
    </header>

    <main>
        <section class="container">
            <!--<h2>Escolha uma Consulta</h2>-->
            <div class="button-container">
                <button class="styled-button" onclick="window.location.href='/chamados'">Chamados Suporte</button>
                <button class="styled-button" onclick="window.location.href='/infra_chamados'">Chamados Infra</button>
                <button class="styled-button" onclick="window.location.href='/transporte_chamados'">Chamados Transporte</button>
            </div>
        </section>
    </main>
</body>

</html>
