<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Painel de Administração - Desbloquear Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <!-- Botão de logout no canto superior direito -->
            <div class="logout-container">
                <form id="logoutForm" action="{{ url_for('logout') }}" method="POST">
                    {{ form.hidden_tag() }} <!-- Proteção CSRF -->
                    <button type="submit" class="logout-button">Sair</button>
                </form>
            </div>
</head>
<body>

    <h1>Logs do Sistema</h1>
    <pre>{{ log_content }}</pre>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
